spring:
  application:
    name: gateway-service

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

  main:
    web-application-type: reactive

  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: gateway-service
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - openid
              - profile
              - email

        provider:
          keycloak:
            issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8085/realms/skillshub}
  cloud:
    config:
      enabled: false
      import-check:
        enabled: false
    gateway:
      default-filters:
        - AddResponseHeader=X-Gateway,Skillshub-Gateway
      routes:
        - id: backend
          uri: ${BACKEND_URI:http://localhost:10020}
          predicates:
            - Path=/api/**
          filters:
            - StripPrefix=1

server:
  address: ${SERVER_ADDRESS:0.0.0.0}
  port: ${SERVER_PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.gateway: INFO
    reactor.netty.http.server: INFO

skillshub:
  auth:
    cookie-name: SKILLSHUB_AUTH
    cookie-domain: ""          # IMPORTANT : empty in local mode
    cookie-secure: ${COOKIE_SECURE:true}       # must be TRUE for  propagate cookie HTTPS
    cookie-same-site: ${COOKIE_SAME_SITE:None}  # required for OAuth2 redirect
    cookie-max-age: ${COOKIE_MAX_AGE:86400}  #24h
    redirect-after-login: ${AUTH_REDIRECT_AFTER_LOGIN:http://localhost:5173/}
    redirect-after-logout: ${AUTH_REDIRECT_AFTER_LOGOUT:http://localhost:5173/}
app:
  backend:
    base-url: ${BACKEND_URI:http://localhost:10020}
